.todo-container {
  min-width: 650px;
  width: 650px;
  min-height: 100px;
  background-color: tan;
  margin: 0 auto;
  margin-top: 10px;
}
.todo-container .title-row {
  text-align: center;
}
.todo-container .todo {
  font-size: 24px;
  padding: 12px 0px 35px;
  height: 55px;
}
